.root {
  position: relative;
}

.input {
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 13.5px 45px;
  font-size: 16px;
  border-radius: 36px;
  width: 350px;
  &:focus {
    border: 1px solid rgba(0, 0, 0, 0.2);
  }
  &::placeholder {
    font-style: italic;
  }
}
.icon {
  position: absolute;
  left: 10px;
  top: 12px;
  opacity: 0.2;
}
.closeIcon {
  position: absolute;
  right: 12px;
  top: 11px;
  opacity: 0.2;
  width: 30px;
  height: 30px;
  cursor: pointer;
  transition: all 0.3 ease 0s;
  &:hover {
    opacity: 0.6;
    transition: all 0.3 ease 0s;
  }
}
